debian/files
debian/siguibui.postinst.debhelper
debian/siguibui.prerm.debhelper
debian/siguibui.postinst.debhelper
debian/siguibui.prerm.debhelper
debian/siguibui.debhelper.log
debian/siguibui.postrm.debhelper
debian/siguibui.substvars
debian/siguibui/
.project
.buildpath
.settings

## don't track these backend files
backend/firmware.pl
backend/firmware.sh
backend/install.sh
backend/nonfree.sh
backend/partinfo.pl
backend/partinfo.sh
backend/timezoneinfo.sh

