debian/files
debian/siguibui.postinst.debhelper
debian/siguibui.prerm.debhelper
debian/siguibui.postinst.debhelper
debian/siguibui.prerm.debhelper
debian/siguibui.debhelper.log
debian/siguibui.postrm.debhelper
debian/siguibui.substvars
debian/siguibui/
.project
.buildpath
.settings

