Source: siguibui
Section: admin
Priority: optional
Maintainer: J. Hamatoma <hamatoma@gmx.de>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://siduction.org
Vcs-git: git://git.siduction.org:packages/siduction-repository/siguibui
Vcs-Browser: http://git.siduction.org/?p=packages/siduction-repository/siguibui.git

Package: siguibui
Architecture: all
Depends: ${misc:Depends}, 
	sudo (>=1.0),
	sux (>=0.1)
Description: SIduction Graphical User Interface BUIilder
 The package contains two parts: a toolkit and a shellserver.
 The toolkit is a set of php modules for building applications with a
 browser based user interface.
 The shellserver is a bash based daemon for doing things in the background.
 The shellserver is runnable. It can be extended by modules.
